/*CSS Reset*/
* {
    margin: 0px;
    padding: 0px;
}
/*Body Styling*/

    body {
        font-family: 'cursive', cursive;
        margin: 0;
        padding: 0;
        background-color: #596d65; /* Fallback color */
        background-image: url(paper.jpg); /* Set the background image */
        background-size: cover; /* Ensures the background covers the entire area */
        background-position: center; /* Centers the background image */
        background-repeat: no-repeat; /* Prevents the background from repeating */
    }
/*Header Styling*/
/* Navigation bar styling*/
/*Navbar Functionality*/

#navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 199, 209);
    height: 14vh;
    width: 100vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 10px;
    border: 2px solid rgb(151, 127, 127);
    border-radius: 15px;
}

/*Navbar content functionality*/
#navcontent {
    display: flex;
    justify-content: center;
}

/*Navbar content styling*/
ul li {
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}

ul li a:hover {
    background-color: rgb(234, 255, 250);
    border-radius: 10px;
}


/*Designing of Hero*/
#hero {
    background-image: url("dots3.jpg");
    background-size:cover;
   }
.hero {
    background-image: url("dots3.jpg");
    background-size:cover;
   }

/*Designing of Cards*/
.container mt-5{
      background: rgb(201, 193, 199);
}
#container mt-5{
      background: rgb(214, 209, 213);
}

/*Designing of Contact Us*/
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
       border: 1px solid black;
       outline-style: dotted;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
        border: 2px solid rgb(185, 171, 179);
    border-radius: 15px;
     margin-bottom: 50px;
}

.form-shape input,
.form-shape select,
.form-shape textarea {
    width: 92%;
    padding: 0.5rem;
}
/*Designing the footer*/
footer {
    text-align: center;
    background-color: light gray;
}
.container{
    background-color: light gray;
}
#container{
    background-color: gray
}
@media only screen and (min-height:1000px) {
    #navbar {
        height: 10vh;
    }}